.ant-layout-header {
  position: relative;
  left: 0;
  right: 0;
  z-index: 9;
}

.main-layout .ant-layout-header {
  background: #fff;
  padding: 0;
  height: $heightHeader;
  line-height: 1.6;
}

.navbar-section {
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 2px #f3f1f1;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}

.navbar-item {
  float: right;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 767px) {
}
