@import 'config';
@import 'fonts';
@import 'header';
@import 'perfil';
@import 'login';
@import 'register';
@import 'home';
@import 'profile';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f0f2f5;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 1% 1% 1% 1%;
  background-color: #f0f2f5;
}

.ant-layout.main-layout {
  background-color: #fff;
}

p {
  font-size: 16px;
  line-height: 1.6;
}
